@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<h4>@Model.Name's Details</h4>
<hr/>
<h3>@Model.Type: @Model.Breed</h3>
<h3>Date Admitted: @Model.DateOfAdmittance</h3>

<p>@Html.ActionLink("Back to Animals", "Index")</p>
<p>@Html.ActionLink("Edit Animal", "Edit", new { id = Model.Id })</p>
<p>@Html.ActionLink("Delete Animal", "Delete", new { id = Model.Id })</p>

<!-- <p>@Html.ActionLink("Edit Animal", "Edit", new { id = Model.Id })</p> -->
